*{
	box-sizing: border-box;
	margin: 0;
	padding: 5rem;
	max-width: 1000px;
	width: 90%;


}
header,footer{
	padding: 1rem;

}

header{
	grid-column: 1/-1;
	display: flex;
	justify-content: flex-start;
}

body{

}

.main{
	display: flex;
	justify-content: column; 
}

.list{
	display:flex;
	justify-content: column; 
}