<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Category</title>
</head>
<body>
	<h1>Reviews by Category</h1>

	<ul th:each="review:${reviews}">
		<li>
			<img th:src="${review.image}" style="height: 50px; width: auto;" />
			<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
		</li>
	</ul>
	<div>
	<h2>Navigation</h2>
		<a href="http://localhost:8080/categories">Back</a>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</div>
</body>
</html>