<!DOCTYPE html>
<html lang="en">
<head>
<title>Review Repository</title>

<link rel="stylesheet" href="./css/layout.css" />
<link rel="stylesheet" href="./css/style.css" />
</head>

<body>
	<header>
		<h2>Full list of Reviews</h2>
	</header>
	<div class="body">
		<section class="main">
			<nav class="navigation">
				<h2>Navigation</h2>
				<a href="http://localhost:8080/reviews">Home</a> <a
					href="http://localhost:8080/categories">Categories</a>
			</nav>
			<article class="list">
				<h2>All Reviews</h2>
				<ul th:each="review:${reviews}">
					<li><a th:href="@{/review(id=${review.id})}"
						th:text="${review.name}" /></li>
				</ul>
			</article>

			<article class="tag-list">
				<h2>All Tags</h2>
				<ul th:each="itag:${tags}">
					<li><span th:text="${itag.tag}" /></li>
				</ul>
			</article>


			<form method="POST">
				<div>
					<label>Enter Tag:</label> <input type="text" name="tagName" />
				</div>
				<div>
					<button th:formaction="@{/find-by-tag}">Find Reviews</button>
				</div>
			</form>


			<form method="GET">
				<div>
					<button th:formaction="@{/sort-reviews}">Sort</button>
				</div>
			</form>
		</section>
	</div>
</body>
<footer>
	<small>© 2018</small>
</footer>
</html>